@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: sans-serif;
}

.App {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  animation: fadein 0.75s;
  padding: 2em;
}

@media (max-width: 425px) {
  body {
    padding: 1em 0;
  }
}
