.container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  background-color: whitesmoke;
  border-radius: 0.5em;
  margin: 10% auto;
  padding: 2em;
}

.form {
  &Value,
  &Submit,
  &Cancel {
    -moz-appearance: textfield;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &Value {
    border-radius: 0.25em;
    border: 1px solid lightgrey;
    font-size: 4em;
    margin-bottom: 0.25em;
    padding: 1em;
  }

  &Submit,
  &Cancel {
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1.5em;
    margin-top: 0.75em;
    padding: 0.5em;
  }

  &Submit {
    $color: #0d6efd;

    background: $color;
    border: 1px solid $color;
    color: white;
  }

  &Cancel {
    background: #adb5bd;
  }
}
